.LandingPageLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../public/landing.jpeg') no-repeat center center/cover;
    min-height: 100vh;
    padding: 40px 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  button {
    margin: 10px;
  }
  
  MuiContainer-root {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .MuiCard-root {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .MuiTypography-h6 {
    margin-top: 10px;
    font-weight: 500;
  }
  
  .MuiTypography-body2 {
    margin-top: 5px;
    color: #444;
  }
  